.timkiemTK {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.thongtinchung {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}

.button-group {
    justify-self: flex-end;
}

.thongtin__infor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}

.thongtinchung__img {
    height: 100%;
    width: 200px;
}

.thongtinchung__img img {
    width: 100%;
}

.spdaxem {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.spdaxem__item {
    width: 23%;
    overflow: hidden;
    margin: 5px;
}

.spdaxem__img {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.spdaxem__img img {
    width: 100%;
}

.spdaxem__thongtin {
    width: 100%;
}

.spdaxem__thongtin h3 {
    font-size: 1em;
}

.chonlua {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}