.khungHienThi {
    background: #ebebeb;
    width: calc(100vw - 200px);
    height: calc(100vh - 40px);
    float: right;
    margin-top: 40px;
}

.khungTenDanhMuc {
    background: #d6d8db;
    width: calc(100vw - 200px);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#textTenDanhMuc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: black;
    text-align: left;
}

.khungchuaNoiDungQuanLi {
    width: 99%;
    height: calc(100vh - 105px);
    background: white;
    display: flex;
    align-items: flex-start;
    float: right;
    justify-content: flex-start;
    flex-direction: column;
}

table {
    border: 1px solid black;
    width: 100%;
}

tr:nth-child(even) {
    background: rgb(235, 229, 229);
}

#table td,th {
    text-align: center;
    border: 1px solid black;
}

.infor-hoadon {
    width: 100%;
}
