

.Sign_in_class{
	background: url(../images/bg.jpg)repeat;
	
}
.Sign_in_class .wrap{
	margin: 0 auto;
	width: 80%;
}
.Sign_in_class a,.Sign_in_class form li,.Sign_in_class input[type="submit"],.Sign_in_class input[type="text"],.Sign_in_class .sixth-login input[type="submit"],.Sign_in_class .third-login input[type="submit"]{
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}

.Sign_in_class .login-form {
    background: rgba(0, 0, 0, 0.5);
    min-height: 400px;
    width: 30%;
    margin: 50px auto;
    padding: 50px 0px;
}

.Sign_in_class h2 {
    color: #fff;
}

.Sign_in_class form {
	padding: 0% 10% 0%;
}
.Sign_in_class .but-bottom a {
    margin-left: 90px;
    color: #fff;
    letter-spacing: 1px;
}
.Sign_in_class i.fa.fa-facebook {
    font-size: 20px;
    margin-right: 10px;
	color:#3b5998;
}
.Sign_in_class i.fa.fa-twitter {
    font-size: 20px;
    margin-right: 10px;
	color: #0084b4;
}
.Sign_in_class input[type="submit"] {
    background-color: #166a8f;
    font-size: 20px;
    color: #fff;
    padding: 5px 50px;
    border: 1px solid #fff;
    letter-spacing: 2px;
    width: 50%;
	cursor:pointer;
}
.Sign_in_class .w3_log {
    text-align: center;
    margin: 25px 0px;
}
 ::-webkit-input-placeholder {
color:#fff !important;
}
:-moz-placeholder { /* Firefox 18- */
color:#fff !important;
}
::-moz-placeholder {  /* Firefox 19+ */
color:#fff !important;
}
:-ms-input-placeholder {  
color:#fff !important;
}
.Sign_in_class a {
    color: #fff;
}
.Sign_in_class span {
    color: #fff;
    letter-spacing: 1px;
}
.Sign_in_class  ul.form {
  width: 91%;
  margin: 0 auto;
}
.Sign_in_class  ul.form li{
	list-style: none;
	margin-bottom: 25px;
	width: 100%;
	background:transparent;
}


.Sign_in_class input[type="text"],.Sign_in_class input[type="password"] {
	font-family: 'Ubuntu Condensed', sans-serif;
	width: 100%;
	padding: 10px;
	color: #fff;
	font-size: 18px;
	outline: none;
	background-color:transparent;
	font-weight: 100;
	box-sizing:border-box;
	letter-spacing:3px;
	border-bottom:1px solid #fff;
	border-right:0px;
	border-left:0px;
	border-top:0px;
}

.Sign_in_class ul.bottom-sc-icons {
	list-style: none;
	margin: 0;
	padding: 22px 0;
	text-align: center;
}
.Sign_in_class ul.bottom-sc-icons li {
	display: inline-block;
	margin: 0 22px;
}
.Sign_in_class h3 {
    text-align: center;
    color: #ed174f;
    font-size:20px;
    letter-spacing: 2px;
}
.Sign_in_class .copyrights {
  text-align: center;
  color: #fff;
}
.Sign_in_class .copyrights p a {
  color: #fff;
}
.Sign_in_class p {
    font-size: 16px;
    letter-spacing: 1px;
}
.Sign_in_class h1 {
    text-align: center;
    margin: 50px 0px 0px;
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
}
.Sign_in_class h2 {
    text-align: center;
    margin-bottom:25px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
}

@media (max-width:1440px){
.Sign_in_class .login-form {
		width: 39%;
	}
	.Sign_in_class ul.bottom-sc-icons li {
		margin: 0 20px;
	}
}
@media (max-width:1366px){
	.Sign_in_class .login-form {
		width: 41%;
	}
	.Sign_in_class ul.bottom-sc-icons li {
		margin: 0 20px;
	}
}
@media (max-width:1280px){
	.Sign_in_class .login-form {
		width: 44%;
	}
}
@media (max-width:1024px){
	.Sign_in_class ul.bottom-sc-icons li {
		margin: 0 11px;
	}
	.Sign_in_class .login-form {
		width: 50%;
	}
}
@media (max-width:900px){
.Sign_in_class .but-bottom a {
    margin-left: 70px;
}
}
@media (max-width:800px){
.Sign_in_class .login-form {
    width: 55%;
}
.Sign_in_class h3 {
    font-size: 18px;
}
}
@media (max-width:768px){
.Sign_in_class .login-form {
	width: 58%;
	}
}
@media (max-width:736px){
.Sign_in_class .login-form {
	width: 60%;
	}
}
@media (max-width:667px){
.Sign_in_class .login-form {
	width: 70%;
	}
}
@media (max-width: 600px){
.Sign_in_class .login-form {
    width: 75%;
}
}
@media (max-width: 568px){
.Sign_in_class .login-form {
    width: 80%;
	 margin: 25px auto;
    padding: 15px 0px;
}
.Sign_in_class h1 {
    margin: 35px 0px 0px;
}
}
@media (max-width:480px){
.Sign_in_class .login-form {
		width: 85%;
	}
.Sign_in_class h1 {
		font-size: 42px;
	}
.Sign_in_class .but-bottom a {
    margin-left: 50px;
}
.Sign_in_class p {
    font-size: 15px;
    letter-spacing: 0.5px;
}
.Sign_in_class input[type="submit"] {
    width: 55%;
}
}
@media (max-width:414px){
.Sign_in_class .login-form {
		width: 90%;
	}
.Sign_in_class h1 {
    font-size: 35px;
}
.Sign_in_class .but-bottom a {
    margin-left: 25px;
    letter-spacing: 0.5px;
}
.Sign_in_class h3 {
    font-size: 16px;
}
.Sign_in_class input[type="submit"] {
    padding: 5px 40px;
}
}
@media screen and (max-width: 384px){
.Sign_in_class h1 {
    font-size: 32px;
}
.Sign_in_class span {
    letter-spacing: 0px;
}
.Sign_in_class h3 {
    letter-spacing: 1px;
}	
}
@media screen and (max-width: 375px){
.Sign_in_class .but-bottom a {
    margin-left: 22px;
    letter-spacing: 0.5px;
}
.Sign_in_class input[type="submit"] {
    padding: 5px 35px;
}	
}  
@media (max-width:320px){
	.Sign_in_class .login-form {
		width: 85%;
	}
.Sign_in_class h3 {
    letter-spacing: 0px;
}
.Sign_in_class .but-bottom a {
    margin-left: 0px;
}
.Sign_in_class ul.bottom-sc-icons li {
    margin: 5px 11px;
}
.Sign_in_class input[type="submit"] {
    padding: 5px 18px;
}
.Sign_in_class span {
    letter-spacing: 1px;
    font-size: 16px;
    margin-right: 40px;
}
.Sign_in_class h1 {
    margin: 15px 0px 0px;
}
.Sign_in_class .login-form {
    margin: 20px auto;
}
.Sign_in_class h1 {
    letter-spacing: 1px;
	font-size: 30px;
}
.Sign_in_class h2 {
    margin-bottom: 15px;
    font-size: 25px;
}
}
/*--End-responsive-design--*/